$primary-color: #e88182;
$secondary-color: #e9d984;
$third-color: #96e0d3;
$title-color: #333;
$text-color: #999999;
$gray-color: #f5f5f5;
$gray-dark-color: #e1e1e1;
$gray-light-color: #f5f5f5;

// KaushanScript Regular, Montserrat, Roboto Regular    
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script', cursive;

$wrapper: 1920px;
$container: 1200px;
