section.quote
    .container 
        .quote-container
            i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            .quote-content 
                .quote-icon 
                    img(src="../images/icon-cmt.png")
                .quote-info 
                    p.quote-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    .quote-author Jon Doe
            i.fal.fa-angle-right.quote-arrow-right.quote-arrow
