section.service
	.container
		+blockBox("We work with", "Amazing Service")
		.service-container
			.service-list 
				+serviceItem("../images/Photography.png","Photography","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")
				+serviceItem("../images/webds.png","Web Design","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")
				+serviceItem("../images/creativity.png","Creativity","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")
			.service-list
				+serviceItem("../images/SEO.png","SEO","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")
				+serviceItem("../images/csshtml.png","CSS/HTML","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")
				+serviceItem("../images/digital.png","Digital","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quidem fugit molestiae dignissimos!")